
body {
	margin: 0;
	padding: 0;
	color: black;
}

.container {
  width: auto !important;
  padding: 1px;
}

.block {
  text-align: center;
  margin: 6px 0px;
}

.focus_block .block{
  text-align: left;
  display: block;
}

.action {
  text-align: center;
}
.action input{
  background-image: url('form_submit.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
  background-color: transparent;
  width: 86px;
  height: 35px;
  color: white;
  cursor: pointer;
}

#dialog{
  -moz-box-shadow: 0px 0px 2px 3px #dfdfdf;
  -webkit-box-shadow: 0px 0px 2px 2px #dfdfdf;
  box-shadow: 0px 0px 2px 2px #dfdfdf;	
  margin: 2px;
  padding: 1px;
}

#main-form {
 background-color: #d2e2f6;
 padding: 19px;
}

h1 {
  line-height: 0px;
  margin-bottom: 25px;
  color: black;
  font-size: 17px;
  margin-top: 15px;
  text-align: center;
}

h2 {
  font-size: 15px;
  text-align: center;
}

.block-intro{
	font-size: 12px;
	font-style: italic;
}

hr {
  display:none;
}

.focus_block h2 {
  text-align: left;
	color: #000000;
	margin-top: 20px;
	border-bottom: 1px solid #959797;
}

label span {
  padding-left: 5px;
}

input, textarea {
  background-color: white;
  padding: 5px;
  margin: 0px;
  margin-left: -3px;
  border: none;
  display: inline;
}


label{
	margin: 0 10px;
}

.block-intro{
	color: #2a4269;
}


input[type="text"],
textarea {
  width: 97%;
}

.focus_block input[type="text"] {
  height: 15px;
}

#notice {
	background: #cc0000;
	color: #ffffff;
	padding-left: 5px;
}
